p {
    text-align: justify !important;
}

.jp-Notebook {
    width : 900px !important;
    margin : 20px auto;
    -moz-box-shadow : 2px 2px 10px #ccc;
    -webkit-box-shadow : 2px 2px 10px #ccc;
    box-shadow : 2px 2px 10px #ccc;
}

.container {
    width : 800px !important;
}

.figure {
    display : table;
    margin : auto;
}

.img {
    float : left;
    margin : 10px auto;
    text-align: center;
}

.caption {
    display : table-caption;
    caption-side : bottom;
    text-align : justify;
    color : rgba(0,0,0,0.6);
    margin-bottom : 10px;
}

td {
    background : white;
}

.table_caption {
    font-size : 14px;
    float : left;
    text-align : justify;
    color : rgba(0,0,0,0.6);
}
